$breakpoint: (
  "small-size": "screen and (max-width: 1023px)",
  "normal-size": "screen and (min-width: 1023px)",
) !default;

@mixin mediaquery($size: normal-size) {
  @media #{ map-get( $breakpoint, #{$size} ) } {
    @content;
  }
}

$header-height: 8rem !default;
